

.main {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}