<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="S20200010038_styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles1.css">

  <title>S20200010038</title>
</head>

<body>

  <br>


      <div class=main>
        <form action="/home" method="post" class="pt-3">
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name">
          </div>
          <p>Gender</p>
          <div class="form-check">
            
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Male
            </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Female
        </label>
        </div>
          <div class="form-group">
            <label for="age" class="form-label">Age</label>

            <input type="text" name="age" class="form-control" id="age" placeholder="Age">
          </div>
          <div class="form-group">
            <label for="age" class="form-label">Education</label>

            <input type="text" name="Education" class="form-control" id="education" placeholder="">
          </div>
          
          <div class="form-group">
            <input type="text" name="technology_used" class="form-control" id="technology_used"
              placeholder="Technology Used">
          </div>
          <div class="form-group">
            <input type="text" name="timework" class="form-control" id="timework"
              placeholder="">
          </div>
          <button type="submit">submit</button>
        </form>
      </div>

</body>

</html>