h1 
{
    text-align: center;
}
.from
         {
         float: left;
         }
.indetails
         {
         float: left;
            

         }
         .billto
         {
         float: left;
         }
         .shipto
         {
         float: left;
         }
         
div{
    width: 50%;
}