body {
	margin: auto;
	background: #0E1016;
	font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}
.container4 {
	width: 100%;
  margin-right: 0px;
	padding-left: 0px;
  background: #55d6aa;
  position:fixed;
  z-index: 1;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  font-weight: 800;
  padding-left: 20px;
}

.pfp{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 0px;
}
nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 5px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}


nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


ul > li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


html {
  box-sizing: border-box;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  margin-top: 50px;
}

.about-section p{
  font-size:25px;
  font-family: baloo bhai;
}

.title {
  color: grey;
}


img {
  border: 8px solid rgb(112, 111, 111);
}

.container1 {
  position: relative;
  width: 30%;
  display: inline-block;
  padding:15px;
}

.container2 {
  position: relative;
  width: 30%;
  left:200px;
  display: inline-block;
  padding:20px;
}


.image {
  /* display: inline-block; */
  width: 100%;
  height: 412px;
}

.overlay {
  position:absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #474e5d;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}
.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text h3{
  color:#ff0000
}

 #subhead{ 
  font-size: 50px;
  text-align: center;
  color:white;
  text-transform: uppercase;
} 
.subhead div{
  display:inline-block;
  padding:2px;
  color:white;
  text-align: center;
  font-size: 40px;
  width:40px;
  background-color: #54b3d6;
  border-radius: 7px;
}







/* footer */
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content .middle .topic{
  padding-left: 55px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .lower a{
  text-decoration: none;
}

footer .content .middle a{
  line-height: 32px;
  text-decoration: none;
  padding: 5px;
  margin-left: 55px;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;

  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
footer .content .middle a:hover{

  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  padding:5px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px 2px 2px 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
    color:rgb(223, 147, 35);
    transform: scale(1.5);
    transition: transform .5s ease;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
