@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


body {
	margin: 0;
	background-color: black;
	font-family: 'Work Sans', sans-serif;
	font-weight: 1800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.divimg {
  position: relative;
  width: 100%;
}
.courseImage {
    width: 100%;
    height: 100%; 
    
}

.table{
  width:100%;
}
th, td {
  padding: 15px;
  text-align: center;
  vertical-align: center;
  color: white;
}
.inst-img{
  width :20px;
}
.dark-text{
  color: #04a47b
}
.green-text{
  color:#55d6aa
}
.white-text{
  color: white;
}
.checked {
  color: orange;
}
ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}
.logo {
  float: left;
}
.greenbg{
  position: relative;
  background-color: #55d6aa;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color:#000;
}
vcbutton{
  background-color: #55d6aa;
}
.pfp{
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    position: relative;
    width: 30px;
    height: 30px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 5px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.studTable{
  color:white;
}
nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



